/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.AirportFinder {
  position: relative;
}
.AirportFinder--button__select {
  float: right;
}
.AirportFinder--button__select svg {
  color: var(--max-white);
}
.AirportFinder--finder {
  position: absolute;
  padding: 8px 10px;
  background-color: var(--max-white);
  border-radius: 2px;
  top: 20px;
  box-shadow: 2px 2px #e5e5e5;
  border: 1px solid var(--max-base-color);
  text-align: left;
  min-width: 230px;
  z-index: 99999;
}

.AirportFinder--finder input {
  width: 100%;
  margin-top: 5px;
}
.AirportFinder--finder > span {
  display: block;
  float: right;
  cursor: pointer;
}
