/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.Menu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--max-white);
  margin-bottom: 2px;
}

.Menu > h1 {
  font-size: calc(var(--base-font-size) * 2);
}

.Menu__right > button {
  padding: 8px 14px;
  font-weight: bold;
}

.Menu--icon {
  font-size: calc(var(--base-font-size) * 1.4);
  background-color: transparent;
  color: var(--max-green);
  border: none;
}

.Menu--buttons :global .button {
  margin: 0 10px;
  color: var(--max-light-grey);
}

.Menu__center {
  margin: 0 auto;
  text-align: center;  
}
