/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.AirportSelector {
  border-right: 2px solid var(--max-base-color);
  text-align: left;
  padding: 0 10px;
}

.AirportSelector:last-child {
  border-right: 0;
}

.AirportSelector--title {
  font-style: italic;
}
.AirportSelector--name h5 {
  color: var(--max-dark-green);
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}
.AirportSelector--name span {
  font-size: 10px;
  margin-left: 4px;
}
.AirportSelector--details {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.AirportSelector--details svg {
  float: right;
}
