/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.DateRange {
  border-right: 2px solid var(--max-base-color);
  text-align: left;
  padding: 0 10px;
  justify-content: space-between;
  cursor: pointer;
}
.DateRange:last-child {
  border-right: 0;
}
.DateRange--button {
  cursor: pointer;
}
.DateRange--title {
  font-style: italic;
}
.DateRange--name {
  display: flex;
  flex-direction: column;
}
.DateRange--name span {
  font-size: 10px;
  margin-left: 4px;
}
.DateRange--month {
  font-weight: bold;
  color: var(--max-dark-grey);
}
.DateRange--details {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.DateRange--details > div {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: flex-start;
}
.DateRange--details h5 {
  color: var(--max-dark-green);
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
}

.DateRange svg {
  float: right;
}
