/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.filter {
  background-color: var(--max-white);
  margin-bottom: 2px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .filter--item {
    padding: 10px;
  }
}
.filter--item {
  border-right: 2px solid var(--max-base-color);
}

.filter--item :global svg {
  color: var(--max-green);
  margin-right: 3px;
}

.filter--item:last-child {
  border-right: 0;
}
