/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

:root {
  --base-font-size: 16px;
  --max-light-grey: #7C888A;
  --max-base-color: #EAF1F7; /* rgb(234, 241, 247) */
  --max-dark-grey: #B4BDC2;
  --max-super-dark-grey: #697577; /* rgb(105, 117, 119); */
  --max-dark-green: #169D7F;
  --max-green: #19b391;
  --max-orange: #EFB028;
  --max-white: #FFFFFF;
  --max-border-radius: 4px;
}
