/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.button {
  border-radius: 2px;
  border: 0;
}

.button svg {
  margin-right: 4px;
}

.button__flat {
  border: 1px solid var(--max-orange);
  border-radius: 0;
  background: transparent;
}
.button__primary {
  background-color: var(--max-green);
  color: var(--max-white);
  font-weight: bold;
  padding: 6px 0;
  border-bottom: 2px solid var(--max-dark-green);
}
.button--group {
  margin-top: 1px;
  display: flex;
  flex: 1;
}
.button--group.button--group__bottom-attached {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.button--group > .button {
  padding: 12px 0;
}
.button__secondary {
  background-color: var(--max-white);
}
.button__block {
  display: block;
  width: 100%;
}
.button__transparent {
  background: transparent;
  padding: 0;
}
.button__transparent.button__icon svg, .button__secondary.button__icon svg {
  color: var(--max-green);
  margin-right: 2px;
}
