/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.card {
  border-right: 6px;
  background-color: var(--max-white);
  text-align: center;
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
}

.card--header {
  padding: 12px 0;
}

.card--body {
  margin: 0 10px;
  padding: 10px 0;
  border-top: 2px var(--max-dark-grey) dotted;
  border-bottom: 2px var(--max-dark-grey) dotted;
}
.card--footer {
  margin: 10px;
  padding: 10px 0;
}
