/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid__spaced {
  justify-content: space-between;
  align-items: flex-start;
}
.grid--centered {
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10px;
}

.col-12 { flex: 0 0 100% }
.col-9 { flex: 0 0 75% }
.col-8 { flex: 0 0 66.6% }
.col-7 { flex: 0 0 58.3% }
.col-6 { flex: 0 0 50% }
.col-5 { flex: 0 0 41.6% }
.col-4 { flex: 0 0 33.3% }
.col-3 { flex: 0 0 25% }
.col-2 { flex: 0 0 16.66% }
.col-1 { flex: 0 0 8.33% }

@media screen and (min-width: 768px) {
  .col-3__desktop {
    flex: 0 0 24%;
  }

  .col-9__desktop {
    flex: 0 0 74%;
  }

  .col-4__desktop {
    flex: 0 0 33.3%;
  }
  .col-6__desktop {
    flex: 0 0 50%;
  }
}
