/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: var(--max-white);
}

.list--item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.list--item__inverted {
  border-right: 1px solid var(--max-super-dark-grey);
  background-color: var(--max-dark-grey);
  color: var(--max-white);
}
.list--item__inverted:last-child {
  border-right: 0;
}
.list--item-details {
  padding: 10px 0;
}
