/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import './_variables.css';
@import './typography.css';
@import './grid.css';
@import './button.css';
@import './tabs.css';
@import './list.css';
@import './card.css';

html, body {
    font-size: var(--base-font-size);
    color: var(--max-light-grey);
    background-color: var(--max-base-color);
  }
p {
    padding: 4px;
  }

.status {
  display: block;
  text-align: center;
}
.status svg {
  margin-right: 4px;
}
