/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.tabs {
  background-color: var(--max-white);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: stretch;
}

.tabs--item {
  padding: 10px 0;
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--max-dark-grey);
  cursor: pointer;
  font-weight: bold;
}

a.tabs--item {
  color: var(--max-dark-grey);
  text-decoration: none;
}

.tabs--item:last-child {
  border-right: 0;
}

.tabs--item__active {
  border-bottom: 2px solid var(--max-green);
}
