/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.text__secondary {
  color: var(--max-orange);
  font-weight: bold;
}

.text__strikethrough {
  text-decoration: line-through;
}

.text__strong {
  font-weight: bold;
  color: var(--max-dark-grey);
}
.text__uppercase {
  text-transform: uppercase;
}
