/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.FlightsList {
  position: relative;
}

@media screen and (max-width: 768px) {
  .FlightsList {
    margin: 10px 0 40px;
  }
}

.FlightsList--title {
  padding: 12px 0;
}

.FlightsList--title:first-child {
  border-radius: 4px 0 0 0;
}
.FlightsList--title:last-child {
  border-radius: 0 4px 0 0;
}
