<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//cdn.rawgit.com/jgthms/minireset.css/master/minireset.min.css">
  </head>
  <body>
    <div id="root" />
  </body>
</html>
