/*
 * Ridermansb
 * Copyright (C) 2018 Ridermansb
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.message {
  background-color: var(--max-white);
  border-radius: var(--max-border-radius);
}
@media screen and (max-width: 768px) {
  .message {
    padding: 10px;
  }
}

.message--icon {
  color: var(--max-green);
  float: right;
}
.message--title {
  padding: 12px;
  border-radius: 4px 4px 0 0;
  background-color: var(--max-dark-grey);
  color: var(--max-white);
}
.message--title svg {
  float: right;
}
.message--body {
  padding: 20px;
}
.message--body :global .button {
  margin: 10px 0;
}
